.main {
	position: fixed;
	top: 25%;
	left: 25%;
	min-width: 50%;
	margin: 0 auto;
	padding: 5px;
}

.sym {
	margin: 0;
	padding: 0;
	float: left;
}

a:hover {
	color: #dc8100;
	text-decoration: none;
}

.link {
	display: inline-block;
	padding: 0;
}

.link:hover {
	padding: 0 1px;
}

.link_icon {
	display: inline-block;
}

.link_icon:hover {
	position: relative;
	top: -1px;
	left: -1px;
}

.main {
	position: fixed;
	top: 25%;
	left: 25%;
	min-height: 50%;
	min-width: 50%;
	margin: 0 auto;
	padding: 5px;
}


.tab_content {
	color: #8BC34A;
	border: 1px solid #134567;
	position: relative;
	z-index: 1;
	top: -1px;
	padding: 10px;
	border-radius: 0 0 3px 3px;
	background: #00A44F;
}

#myBtn {
	relative: relative;
	top: 30%;
	left: 30%;
}


.holds-the-iframe {/*
	width: 600px;
	height: 390px;*/
	padding: 0;
	overflow: hidden;
	background: rgb(0,0,0)
	/* background:url(loader.gif) center center no-repeat; */
}

.frame {/*
	width: 800px; height: 520px; */
	border: 1px solid black; 
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}

.closeProgWindow {
	color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}